@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="font-family:'Comic Sans MS'" class="text-center blueback">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <img width="800" height="400" src="~/images/Neumont_College_of_Computer_Science_Logo.jpg" />
    <p>    After Neumont I'd like to think I'm going to be working a job I enjoy doing.<br />
        I hope to meet new people and learn new things in my career. <br />
        Eventually I hope to buy my own car and home/apartment and would like to eventually go for my Masters degree. <br />
        I might even explore my passion for "Art" and continue practicing my art skills. <br />


    </p>
    <img src="/images/cat4.jpg"/>
</div>