@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="font-family:'Comic Sans MS'" class="text-center blueback">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <img src="~/images/cat2.jpg"/>
    <p>   I had always had a passion for technology even before coming to Neumont! 
        Something I was weary about, however, was job security in the career I wanted to persue. 
        Though I wasn't exactly too sure what I wanted to do I know I had a strong interest for coding. 
        I learned some of the basics to be sure if I could handle coding, sure enough I enjoyed it! 
        I researched the topic more and found it's a well paying job with good benefits and great security. 
        I eventually chose Neumont as it was specialized for what I wanted to do in 3 years as opposed to 4.

    </p>
    <img src="~/images/cat3.jpg"/>
</div>