@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="font-family:'Comic Sans MS'" class="text-center blueback">
    <h2 class="display-4">@ViewData["Title"]</h2>
    <img src="/images/cat1.jpg"/>
    <p>&emsp; Welcome! My name is Matthew Munoz-Ramirez! <br/>
        Here's some quick info about me: <br />
            I am currently a student at Neumont of Computer Science <br />
            I am 19 years old <br />
            My birthday is October 30th! <br />
            My favorite show is The Mandalorian (though this changes often.) <br />
            My favorite anime is JoJo's Bizarre Adventure <br />
            My favorite book series is Maze Runner <br /><br />
            My favorite day of the week is Saturday because it is an entire free day <br />
            
    </p>
    <p>Here's a goofy image of Sonic</p>
    <img src="/images/sonic.jpg" />
</div>
