@model IEnumerable<Movie>
<h3>@TempData["Success"]</h3>
@if (Model == null)
{
    <h2>No Movies Provided</h2>
} 
else
{
    foreach (Movie movie in Model)
    {
        <partial name="_MoviePartialView.cshtml" for="@movie" /> //partial view
    }
}